<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>
    #include("/common/head.vm")
</head>
<body>
    #include("/common/nav.vm")

<div class="container" style="width: 970px !important; height: 1000px;">

</div>

    #include("/common/foot.vm")
</body>
</html>