<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.3//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Blog" type="org.txazo.blog.module.blog.bean.Blog"/>
        <typeAlias alias="BlogTag" type="org.txazo.blog.module.blog.bean.BlogTag"/>
        <typeAlias alias="BlogCatalog" type="org.txazo.blog.module.blog.bean.BlogCatalog"/>
        <typeAlias alias="BlogContent" type="org.txazo.blog.module.blog.bean.BlogContent"/>
    </typeAliases>

    <mappers>
        <mapper resource="config/mapper/Blog.xml"/>
        <mapper resource="config/mapper/BlogTag.xml"/>
        <mapper resource="config/mapper/BlogCatalog.xml"/>
        <mapper resource="config/mapper/BlogContent.xml"/>
    </mappers>
</configuration>