<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
            </list>
        </property>
    </bean>

    <bean id="remindInitThread" class="org.txazo.wx.quartz.thread.RemindInitThread">
        <property name="remindService" ref="remindService"/>
        <property name="quartzScheduler" ref="quartzScheduler"/>
    </bean>

    <bean class="org.txazo.wx.quartz.QuartzSchedulerInit">
        <property name="initThreads">
            <list>
                <ref bean="remindInitThread"/>
            </list>
        </property>
    </bean>

</beans>