<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.3//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Remind" type="org.txazo.wx.application.remind.bean.Remind"/>
    </typeAliases>

    <mappers>
        <mapper resource="config/mapper/Remind.xml"/>
    </mappers>
</configuration>